# Fabric binaries and config (downloaded by install-fabric.sh)
bin/
config/

# Generated crypto material and channel artifacts (created at runtime by network.sh)
network/organizations/peerOrganizations/
network/organizations/ordererOrganizations/
network/system-genesis-block/
network/channel-artifacts/

# Chaincode vendor directory (created by go mod vendor during deployCC)
network/chaincode/trading-go/vendor/

# Fabric CA runtime files (fully generated at network startup)
network/organizations/fabric-ca/org1/
network/organizations/fabric-ca/org2/
network/organizations/fabric-ca/org3/
network/organizations/fabric-ca/ordererOrg/

# Chaincode build artifacts
network/trading.tar.gz

# Logs
network/log.txt

# Node.js
node-api/node_modules/
node-api/wallet/
